@page "{categoryId:int}"
@model ProductsByCategoryModel
@{
    ViewData["Title"] = Model.CategoryName;
}

@section CategoryMenu {
    @foreach (var category in Model.Categories)
    {
        <li><a class="dropdown-item" href="/ProductsByCategory/@category.CategoryId">@category.Name</a></li>
    }

}


<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@product.ImageLink" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text mb-0">Price: $@product.Price</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
